.container--flex-horizontal {
    display: flex;
    flex-direction: row;
}

.container--fit{
    width: fit-content;
}

.container--align-center{
    align-items: center;
}

.gap-xs{
    gap: 0.5em;
}

.gap-s{
    gap: 1em;
}
